/* RESET & BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* NAVBAR */
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style: none;
  margin: 40px 0;
  font-size: 20px;
  font-weight: 600;
}

#CE {
  color: red;
}

nav ul a {
  text-decoration: none;
  color: white;
  position: relative;
  transition: 0.3s;
}

nav ul a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: red;
  transition: 0.3s;
}

nav ul a:hover::after {
  width: 100%;
}

.mesc {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  text-shadow: 0 4px 8px red;
  margin-bottom: 20px;
}

/* CERTIFICATION*/

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  justify-content: center;
}

.card {
  width: 350px;
  margin-left: 40px;
  border: solid 0.5px black;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0 4px 8px red;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  margin-bottom: 3px;
}

.card h3 {
  font-weight: 600;
  font-size: 20px;
  font-family: sans-serif;
}

.card p {
  width: 300px;
  font-family: sans-serif;
  font-size: 14px;
}

/* FOOTER */
footer {
  background-color: #111;
  padding: 60px 20px;
  margin-top: 100px;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  margin-bottom: 20px;
}

footer ul a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

footer ul a:hover {
  color: red;
}

footer p {
  color: gray;
  font-size: 16px;
}
