/* RESET & BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* NAVBAR */
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style: none;
  margin: 40px 0;
  font-size: 20px;
  font-weight: 600;
}

#CE {
  color: red;
}

nav ul a {
  text-decoration: none;
  color: white;
  position: relative;
  transition: 0.3s;
}

nav ul a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: red;
  transition: 0.3s;
}

nav ul a:hover::after {
  width: 100%;
}

/*MAINN*/

main h1 {
  text-align: center;
  text-shadow: 0 4px 8px red;
  font-family: sans-serif;
}

.project {
  margin: 20px;
  padding: 10px;
  border: solid 1px black;
  border-radius: 8px;
  box-shadow: 0 4px 8px red;
  width: 400px;
}

.project:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px red;
}

.project h3 {
  font-weight: 600;
  font-size: 22px;
  font-family: sans-serif;
  margin-bottom: 5px;
}

.project p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}

.project span {
  color: white;
  font-size: 17px;
}

.project a {
  text-decoration: none;
}

/* FOOTER */
footer {
  background-color: #111;
  padding: 60px 20px;
  margin-top: 100px;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  margin-bottom: 20px;
}

footer ul a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

footer ul a:hover {
  color: red;
}

footer p {
  color: gray;
  font-size: 16px;
}
